html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	font-family: verdana;
}

.app-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

	.header {
		flex: 0 1 auto;
		padding: 10px;
		text-align: center;
		color: #fff;
		background: #222;
	}

	.main-wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;

		flex: 1 1 auto;
		max-height: 100%;
	}

		.us-search {
			display: flex;
			flex-direction: column;

			flex: 0 1 200px;
			box-sizing: border-box;
			background: #151515;
		}

			.us-search-static {
				flex: 0 1 auto;
				padding: 10px;
			}

			.us-search-overflow {
				flex: 1 1 auto;
				overflow: hidden;
				overflow-y: auto;
			}

		.detail-wrap {
			flex: 0 1 250px;
		}

		.map-wrap {
			flex: 1 1 auto;
		}

			#edmap {
				width: 100%;
				height: 100%;
			}


.us-systems {
	margin: 0;
	padding: 0;
	list-style: none;
}

	.us-systems li {
		padding: 10px;
		margin: 0;
		border-bottom: 1px solid #252525;
		transition: all 0.4s ease;
	}

		.us-systems li .li-usname {
			color: #eee;
			font-size: 14px;
		}

			.us-systems li .li-usname.active {
				color: #ff6232;
			}

			.us-systems li.active .li-usname.active {
				color: #fff;
			}

		.us-systems li .li-sysname {
			color: #666;
			font-size: 10px;
		}


		.us-systems li .li-poiname {
			color: #4c7fff;
			font-size: 14px;
		}

	.us-systems li:hover {
		background: #44332e;
		cursor: pointer;
	}

	.us-systems li.active {
		background: #d74d23;
		color: #fff;
	}

		.us-systems li.active .li-sysname {
			color: #eee;
		}


.us-search-input {
	box-sizing: border-box;
	padding: 5px;
	font-size: 13px;
	background: #333;
	color: #888;
	width: 100%;
	border: 1px solid #222;
}

.detail-wrap {
	padding: 10px;
	background: #252525;
}

	.detail-wrap hr {
		background: #353535;
		height: 1px;
		border: none;
		color: #353535;
	}

	.detail-wrap img {
		max-width: 100%;
	}

	.detail-planet-img {
		padding: 10px;
		text-align: center;
	}

		.detail-planet-img img {
			max-height: 100px;
			display: inline-block;
		}

	.detail-usactive {
		display: block;
		padding: 15px;
		text-align: center;
		background: #4e4e4e;
		color: #fff;
		margin-bottom: 5px;
		border-radius: 2px;

		font-family: 'Open Sans';
		font-weight: 300;
	}

		.detail-usactive.active { background: #cd4d26; }

	.detail-usname, .detail-poiname {
		font-size: 24px;
		color: #fff;

		font-family: 'Open Sans';
		font-weight: 300;
	}

		.detail-poiname {
			color: #4c7fff;
		}

	.detail-sysname {
		font-size: 13px;
		color: #888;

		font-family: 'Open Sans';
		font-weight: 400;
	}

	.detail-body {
		text-align: center;
		font-size: 24px;
		color: #fff;
		
		font-family: 'Open Sans';
		font-weight: 300;
	}


.detail-latlngwrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	box-sizing: border-box;

	color: #777;

	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 300;
}

	.detail-latlngwrap .detail-lat, .detail-latlngwrap .detail-lng {
		box-sizing: border-box;
		flex: 1 1 50%;
	}

	.detail-coord-pos {
		font-size: 18px;
		font-weight: 400;
		color: #fff;
	}

.detail-body-info {
	margin-top: 5px;
}

.detail-body-info-head {
	color: #666;
	font-size: 12px;
}

.bodyinfo-table {
	border-collapse: collapse;
	border-spacing: none;
	width: 100%;
	margin-top: 8px;
	color: #eee;
}

	.bodyinfo-table td:first-child {
		color: #888;
	}

	.bodyinfo-table td {
		padding: 3px 0;
		border-bottom: 1px solid #333;
		font-size: 11px;
		color: #eee;
	}

.detail-destinations h2, .detail-body-info h2 {
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 300;
	color: #e0e0e0;
}

	.destinations-table {
		border-collapse: collapse;
		border-spacing: none;

		font-family: verdana, sans-serif;
		font-size: 11px;
		color: #888;

		width: 100%;
		margin-bottom: 10px;
	}

	.destinations-table td {
		border-bottom: 1px solid #333;
		padding: 5px 0;
	}

	.destinations-table .node-sys {
		color: #666;
	}

	.destinations-table .node-sys.node-us {
		color: #fff;
		cursor: pointer;
	}

	.destinations-table .node-sys.node-us.active  {
		color: #ff5023;
	}


.detail-poi-desc {
	padding: 10px 0;
	color: #eee;
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: justify;
}

.detail-poi-img-wrap {
	padding: 10px 0;
}

	.detail-poi-img-wrap img {
		max-width: 100%;
	}

.detail-poi-credits {
	font-family: verdana;
	font-size: 11px;
	color: #666;
}